
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


h1 {
    color: #004e87;
    font-size: 40px;
    margin-bottom: 10px;
  
}

h2 {
    color: #004e87;
    font-size: 27px;
}

h3 {
    color: #00c3c9;
    
}

h4 {
    color: #004e87;
    font-size: 18px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px  15px;
    background-color: #004e87;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0; 
}

#navbar h1 a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

#navbar nav li {
    list-style: none;
}

#navbar nav li a,
#navbar   .subscription {
    text-decoration: none;
    padding: 0 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


#navbar nav li a:hover,
#navbar .subscription:hover,
#navbar nav li a.active, 
#navbar .subscription.active {
    color: #00c3c9;
    text-decoration: underline;
}


/* Newletter */

#newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #00c3c9;
    
}

#newsletter .newtext p {
    font-size: 17px;
    font-weight: 550;
    color: #fff;
    padding-top: 15px;

}

#newsletter .form{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#newsletter .form input{
    width: 100%;
    height: 3.125rem;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 0 1.25rem;
    outline: none;
    
} 

#newsletter .form button {
    color: #004e87;
    background-color:  #e9eff7; 
    white-space: nowrap;
    border: none;
    cursor: pointer;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
}

#newsletter .form button:hover {
    background-color: #004e87;
    color:  #e9eff7; 
}

/* Footer */
#footer {
    display: flex;
    flex-direction: column;
    padding: 80px 50px 0px 0px;
}

#footer .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 70px;
    
}

#footer .columns .col h4 {
    padding-bottom: 20px;
}

#footer .columns .col {
    display: flex;
    flex-direction: column;
   
}

#footer .columns .col a,
#footer .columns .col p {
    text-decoration: none;
    color: #004e87;
    padding: 8px 0px;
}

#footer .columns .col a:hover {
    text-decoration: underline;
}

#footer .columns .col a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}



#footer .columns .col a i:hover {
    text-decoration: none;
}

#footer .columns .col .App {
    font-size: 13px;
}



#footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #004e87;
    font-size: 18px;
    padding-top: 70px;
    margin-bottom: 10px;
    
}

#footer .copyright ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px 5px;

}

#footer .copyright  li a {
    padding: 7px;
    text-decoration: none;
    color:#004e87;
    font-size: 23px;
}


